* {
    z-index: 1;
    color: #FFF;
    font-family: Microsoft YaHei;
}

body {
    z-index: 0;
    font-size: 16px;
    background-color: #222;
    vertical-align:  middle;
}

.left-bar {
    position: absolute;
    left:0;
    width: 250px;
    height: 100%;
    background-color: #333;
}

.right-area {
    position: absolute;
    left: 250px;
    right: 0;
    height: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}


.fluid {
    float: left;
}
.clearfix:after {
    content: ".";
	display: block;
	height: 0;
	clear: both;
	display: none;
}

.tree-item {
    position: relative;
    width: 100%;
    margin: 0 auto;
    cursor: pointer;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

.tree-item .icon {
    width: 16px;
    height: 20px;
    line-height: 20px;    
    font-size: 10px;
    margin: 0 auto;
}

.tree-item .txt {
    width: 100px;
    position: relative;
    margin-left: 0px;
    margin-right: 0px;
    overflow: hidden;
}

.tree-item .title {
    overflow-x: hidden;
    width: 100%;
    padding-left: 5px;
    font-family: Consolas;
    font-size: 12px;
    height: 20px;
    line-height: 20px;
}

.tree-item .first-level .title {
    background-color: #555;
}

.tree-item .sub-level .title {
    background-color: #333;
}
.tree-item .sub-level .title:hover {
    background-color: #444;

}

.closed {}
.opened {}
.level {}

.modal_background { z-index: 190; position: fixed; margin:auto;left:0; right:0; top:0; bottom:0; width: 100%; height: 100%; background-color: #444; opacity: 0.6; }
.modal_dialog { z-index: 200; position: fixed; margin:auto; left:0; right:0; top: 100px;  width: 800px; background-color: #222; box-shadow: 0px 0.5px 10px #000;  }
.modal_dialog .middle {
    margin: 5px auto;
    text-align: center;
}

/* foot */
.foot-bar {
    position: fixed;
    height: 20px;
    line-height: 20px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: #2791C9;
    padding-left: 10px;
    font-size: 12px;
}

.foot-bar .message {
    padding-left: 5px;
}