* {
    z-index: 1;
    color: #FFF;
    font-family: Microsoft YaHei;
}

body {
    z-index: 0;
    font-size: 16px;
    background-color: #222;
    vertical-align:  middle;
}

.left-bar {
    position: absolute;
    left:0;
    width: 250px;
    height: 100%;
    background-color: #333;
}

.right-area {
    position: absolute;
    left: 250px;
    right: 0;
    height: 100%;
}

.fluid {
    float: left;
}
.clearfix:after {
    content: ".";
	display: block;
	height: 0;
	clear: both;
	display: none;
}

.tree-item {
    position: relative;
    width: 100%;
    margin: 0 auto;
    cursor: pointer;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

.tree-item .icon {
    width: 16px;
    height: 20px;
    line-height: 20px;    
    font-size: 10px;
    margin: 0 auto;
}

.tree-item .txt {
    width: 100px;
    position: relative;
    margin-left: 0px;
    margin-right: 0px;
    overflow: hidden;
}

.tree-item .title {
    overflow-x: hidden;
    width: 100%;
    padding-left: 5px;
    font-family: Consolas;
    font-size: 12px;
    height: 20px;
    line-height: 20px;
}

.tree-item .first-level .title {
    background-color: #555;
}

.tree-item .sub-level .title {
    background-color: #333;
}
.tree-item .sub-level .title:hover {
    background-color: #444;

}

.closed {}
.opened {}
.level {}

